# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.5
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "R1QAUC50iHdfUqxivcCCDGxcwfdsoQ5nL/hhLn9xr4AbPgwtAc4Ki0M0lqwW4u4kb6nQYtwJsQNyp0Iy7PViS0yCpIbZgFVUL21dYMcG7hVc6yi9JehPybcQNMGUyg+RYTjoIDkGaRwnPxnY74KoeYl4oQ6A6nD99G+srHqxV2X5CDhlkm3UhZIcEDYnw7vku7DQtlAphJ+5X2WfBLjQmTmg7PVoZx2S6ZSILyR2KHi3k4DK2qfTbf4I4U3HnLuWsGQLO6Q+AWYLmUpHsJFi4TYk/rnco7XwmV1LA78KJHnF2k8l74oKCp/7PYxGBjvtX9iWtnZiYIWESAM6gtBDH1YZVeJzkxYWqY7KsldHSKpnKa1+GzFU1/OjUYw5b3A+z3fKgw5ORKgi+VJ/F/EhDDXOs4X1gAz9lrKEBdz+58vchSzYhSydk5g3H/5OpIOjjeLuV1IjHbcM9f129l7mUK5FtNvK2SZPXh9iQTA1dHvPv6LkwuLLy/6Sedwj3/nA6FciLdkbeOk07xnWVAeCDlhCCrOEiJnC7xJler/2aWfxAbeBJeCOMbA/BzSiI3TfkA9W+HocZmO1adBnL8rWSyHi4el6GCup8bRWb9XNbol0kDkzdMy5GD35MXXivgQBX3+dRVCLpMNOuQu5xb1qfAHtLO//B12WRG34O0g9B6A="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
